.minor-section {
    background-color: rgb(255, 127, 144);
    font-family: cursive;
    color:rgb(113, 6, 200)

}
body {
    background-color: powderblue;
}
 head {
font-family: fantasy;
color: violet;
}