/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 4px #8edff3;
    background-color: #b9ffc0;
    font-style:inherit;
    box-shadow: #bfe8f9;
    
    
  
  }